<%= render "header"%>

<main class="main">
    <div class="task_main task_main_taskcreate_logout">
        <div class=task_explanation>
            <p>1,家族タスク作成をクリック</p>
            <p>2,家族タスクを実行するだけ</p>
        </div>
        <div class="button">
            <div class="create_button">
                <%= link_to root_path ,class: "btn btn-yellow btn-radius btn-cubic" do %>
                    <i class="fas fa-angle-right fa-position-right"></i>+家族タスク作成
                <% end %>
            </div>

            <div class="logout_button">
                <%= link_to destroy_user_session_path ,method: "delete",class: "btn btn-blue btn-radius btn-cubic" do %>
                    <i class="fas fa-angle-right fa-position-right"></i>ログアウト
                <% end %>
            </div>
        </div>
    </div>

    <div class="task_main task_main_family_promise">
        <div class=task_explanation>
            <h2 class="task_explanation_title">家族との約束</h2>
        </div>
        <div class="task">
            <p class="task_time">2020年/12/24 15時まで</p>
            <h3 class="task_title">今日スーパーに行きネギを買ってくる！</h3>
            <p class="task_details">今日妻は、野菜炒めを作る予定、忘れると雷が落ちる！仕事が帰りの時間にスーパーによってこよう！</p>
            <div class="task_edit_delete">
                <p class="task_request_name">依頼者 妻</p>
                <p><%= link_to "編集", root_path , class:"task_edit"%>   <%= link_to "削除", root_path, class: "task_delete" %></p>
            </div>
        </div>
        <div class="task">
            <p class="task_time">2020年/12/24 15時まで</p>
            <h3 class="task_title">今日5時に幼稚園お迎え！</h3>
            <p class="task_details">今日妻は、野菜炒めを作る予定、忘れると雷が落ちる！仕事が帰りの時間にスーパーによってこよう！</p>
            <div class="task_edit_delete">
                <p class="task_request_name">依頼者 妻</p>
                <p><%= link_to "編集", root_path , class:"task_edit"%>   <%= link_to "削除", root_path, class: "task_delete" %></p>
            </div>
        </div>
        <div class="task">
            <p class="task_time">2020年/12/24 15時まで</p>
            <h3 class="task_title">今日スーパーに行きネギを買ってくる！</h3>
            <p class="task_details">今日妻は、野菜炒めを作る予定、忘れると雷が落ちる！仕事が帰りの時間にスーパーによってこよう！</p>
            <div class="task_edit_delete">
                <p class="task_request_name">依頼者 妻</p>
                <p><%= link_to "編集", root_path , class:"task_edit"%>   <%= link_to "削除", root_path, class: "task_delete" %></p>
            </div>
        </div>
        <div class="task">
            <p class="task_time">2020年/12/24 15時まで</p>
            <h3 class="task_title">今日スーパーに行きネギを買ってくる！</h3>
            <p class="task_details">今日妻は、野菜炒めを作る予定、忘れると雷が落ちる！仕事が帰りの時間にスーパーによってこよう！</p>
            <div class="task_edit_delete">
                <p class="task_request_name">依頼者 妻</p>
                <p><%= link_to "編集", root_path , class:"task_edit"%>   <%= link_to "削除", root_path, class: "task_delete" %></p>
            </div>
        </div>
    </div>
</main>